
body {
    /* grid-row: 2; */
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
}

header {
    width: 100%;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color:antiquewhite;
    background-color: gray;
}

.err {
    color: yellow;
    background-color: #ff5454;
    border: 1px solid;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item {
    grid-row:2;
    grid-column: 1;
}

.inventory_page {
    grid-row:2;
    grid-column: 2;
}

table, td {
    
    width: 100%;
    border-collapse: collapse;
}

tr td {
    color: black;
    height: 1em;
}

td {
    padding: 5px;
    transition: all 0.5s ease;
}

tr:hover td {
    color:gray;
    background-color: skyblue;
}

td:hover {
    height: 4em;
    min-height: 4em;
    max-height: 20em;
}

/* id */
td:nth-child(1) {
    width: 5%;
    text-align: right;
}

/* name */
td:nth-child(2) {
    width: 20%;
    text-align: center;
}

/* price */
td:nth-child(3) {
    width: 5%;
    text-align: right;
}

/* status */
td:nth-child(4){
    width: 10%;
    text-align: center;
}

tr:hover td:nth-child(4){
    border: 2px solid;
    background-color: darkgrey;
    color:red;
    border-style: ridge;
    text-align: center;
}


/* stock */
td:nth-child(5){
    width: 7%;
    text-align: center;
    font-size: 1.3em;
}


/* description */
td:nth-child(6) {
    width: 43%;
    text-align: center;
}

/* remove button */
td:nth-child(7) {
    width: 5%;
}

td:nth-child(7):hover {
    background-color:red;
    
}

.status {
    border: 1px;
    background-color: darkgrey;
    color:red;
    border-style: ridge;
}

.stock {
    display: none;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14pt;
}

tr:hover .stock {
    display: inline;
}

.item_desc_span {
    display: none;
}

tr:hover .item_desc_span {
    display: inline;
}

img {
    max-width: 100px;
    max-height: 200px;
}

tr:hover img {
    max-width: 150px;
    max-height: 300px;
    border-radius: 1px;
    border-style: double;
    border-color: gray;
}

@media (max-width: 768px)  {

    header {
        grid-row: 1;
        grid-column: 1;
    }

    body {
        display: grid;
        grid-template-rows: auto 1fr 2fr;
        grid-template-columns: 1fr;
    }

    .item {
        grid-row: 2;
        grid-column: 1;
    }

    .inventory_page {
        grid-row: 3;
        grid-column: 1;
    }
}